<!-- Para angular < 19  -->
<!-- <country-search-input 
    placeholder="Buscar por capital"
    (value)="onSearch($event)"/>-->
    
<!-- Con resources -->
<country-search-input 
    placeholder="Buscar por capital"
    (value)="query.set($event)"/>

<!-- Para angular < 19  -->
<!-- @if (isError()) {
    <div class="alert alert-danger mt-5">
        {{ isError() }}
    </div>
} @else {
    <country-list [countries]="countries()"/>
}-->

<!-- Con resources -->
<!-- @if (countryResource.error()) {
    <div class="alert alert-danger mt-5">
        {{ countryResource.error() }}
    </div>
} @if (countryResource.hasValue()) {
    <country-list [countries]="countryResource.value()!"/>
} -->

<country-list 
    [countries]="countryResource.value() ?? []"
    [errorMessage]="countryResource.error()"
    [isEmpty]="countryResource.value()?.length === 0"
    [isLoading]="countryResource.isLoading()"
/>